* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body {
    min-height: 100vh;
    background: #060019;
    display: flex;
    align-items: center;
    justify-items: center;
}
.red {
    background-color: rgb(95, 43, 43);
}
.yellow {
    background-color: rgb(134, 110, 2);
}
.green {
    background-color: rgb(27, 66, 27);
}
.voilet {
    background-color: rgb(84, 42, 84);
}

.game {
    max-height: 98vh;
    max-width: 550px;
    width: 98%;
    margin: auto;
    padding-bottom: 1rem;
    box-shadow: 0 0 10px black;
    background-color: aliceblue;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box-cant {
    max-height: 63vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98%;
}

.box-row {
    display: flex;
}

.box {
    margin: 30px;
    height: 10rem;
    width: 10rem;
    border-radius: 10px;
    cursor: pointer;
    outline: rgb(0, 0, 0);
    border: none;
    outline: none;
    outline-width: 5px;
    outline-style: groove;
    opacity: .9;
}
.box:hover {
    opacity: 1;
}
.box:active {
    box-shadow: 0 0 25px rgb(0, 0, 0);
}



/* Upper Box */
.upper-box {
    padding: 1rem;
    text-align: center;
    background: rgb(252, 165, 147);
    box-shadow: 0 0 10px black;
    max-width: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin-bottom: 1rem;
}

.upper-box h1 {
    padding: 10px;
}
/* Upper Box */



/* Start-Reset */
.start-reset {
    padding: 0 10px;
    margin: auto;
    width: 98%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.start-reset button {
    background-color: yellow;
    padding: 13px 0;
    border-radius: 15px;
    font-size: 1.3rem;
    font-weight: 900;
    cursor: pointer;
    text-align: center;
    width: 120px;
}
.start-reset button:hover{
    box-shadow: 0 0 5px black;
}
.start {
    color: green;
}
.reset {
    color: red;
}
/* Start-Reset */



.p-10 {
    padding: 10px;
}
.random-flash {
    background-color: white;
}
.user-flash {
    background-color: rgb(172, 47, 6);
}

@media screen and (max-width:450px) {
    .box {
        margin: 10px;
    }
}
@media screen and (max-width:400px) {
    .box {
        height: 8rem;
        width: 8rem;
    }
}
@media screen and (max-width:320px) {
    .box {
        height: 6rem;
        width: 6rem;
    }
    
    .start-reset button { 
        width: 100px;
    }
}