* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body {
    /* max-height: 100vh; */
    overflow: auto;
}
.red {
    background-color: rgb(95, 43, 43);
}
.yellow {
    background-color: rgb(134, 110, 2);
}
.green {
    background-color: rgb(27, 66, 27);
}
.voilet {
    background-color: rgb(84, 42, 84);
}

.game {
    height: 100vh;
    max-width: 900px;
    margin: auto;
    box-shadow: 0 0 10px black;
    background-color: aliceblue;
    border-radius: 15px;
}
.box-cant {
    height: 63vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.box-row {
    display: flex;
}

.box {
    margin: 30px;
    height: 10rem;
    width: 10rem;
    border-radius: 10px;
    cursor: pointer;
    outline: rgb(0, 0, 0);
    border: none;
    outline: none;
    outline-width: 5px;
    outline-style: groove;
}
.box:hover{
    box-shadow: 0 0 25px rgb(0, 0, 0);
}



/* Upper Box */
.upper-box {
    text-align: center;
    margin: 20px auto;
    border-radius: 20px;
    background: rgb(241, 198, 232);
    box-shadow: 0 0 10px black;
    height: 20vh;
    max-width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
/* Upper Box */



/* Start-Reset */
.start-reset {
    padding: 0 10px;
    margin: auto;
    max-width: 570px;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
}
.start-reset button {
    background-color: yellow;
    padding: 13px 33px;
    border-radius: 15px;
    font-size: 1.3rem;
    font-weight: 900;
    cursor: pointer;

}
.start-reset button:hover{
    box-shadow: 0 0 5px black;
}
.start {
    color: green;
}
.reset {
    color: red;
}
/* Start-Reset */





.random-flash {
    background-color: white;
}
.user-flash {
    background-color: green;
}

@media screen and (max-width:700px) {    
    .upper-box {
        margin: 10px;
    }
}
@media screen and (max-width:440px) {
    .box {
        margin: 10px;
    }
}
@media screen and (max-width:350px) {
    .box {
        height: 8rem;
        width: 8rem;
    }
}
@media screen and (max-width:300px) {
    .box {
        height: 6rem;
        width: 6rem;
    }
}